
#System
virtualenv
wheel

attrs
graypy

#Filesystem
watchdog
watchgod
dropbox

#GUI
#kivy
#kivy-garden
dearpygui
#pyqt5

#Science
numpy
scipy
matplotlib
jupyter
qtconsole
pandas
scikit-learn
croniter


#Networkign
Twisted
#aiortc
aioice
aiohttp
treq

#Database
#psycopg2 
#dataset
sqlalchemy
sqlalchemy_utils
psycopg2

#Documetnation
sphinx==3.2.1
pygsheets
pydrive2==1.8.1

#Supercomputing
boto3
deco
ray==1.1.0
ray[tune]
#tensorflow
#ray[rllib]
#ray[serve]boto3

#Image
#pillow
#av
#cv
graypy

