
#lib
-e .

#System
virtualenv
wheel

#Filesystem
watchdog
watchgod
dropbox

#GUI
kivy
kivy-garden
dearpygui
pyqt5

#Science
numpy
scipy
matplotlib
jupyter
jupyter-qtconsole
pandas
scikit-learn

#Networkign
Twisted
aiortc
aioice
aiohttp

#Database
psycopg2 
dataset
sqlalchemy

#Supercomputing
deco
ray
"ray[tune]"
tensorflow
"ray[rllib]"
"ray[serve]"

#Image
pillow
av
cv