
#System
virtualenv
wheel

#Filesystem
watchdog
watchgod
dropbox

#GUI
#kivy
#kivy-garden
dearpygui
pyqt5

#Science
numpy
scipy
matplotlib
jupyter
qtconsole
pandas
scikit-learn
croniter


#Networkign
Twisted
aiortc
aioice
aiohttp

#Database
#psycopg2 
dataset
sqlalchemy

#Supercomputing
boto3
deco
ray
#ray[tune]
tensorflow
#ray[rllib]
#ray[serve]boto3

#Image
pillow
av
cv

